body {
  margin: 0;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


i{
  cursor: pointer;
}

nav{
  margin-top: 45px;
  color: #fff !important;
  box-shadow: 2px 2px rgba(55, 55, 55, 0.115);
}


.navbar.scrollBg{
  background-color: rgba(55, 55, 55, 0.815) !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin: 0;
}


.bg-img{
  background: url('./Assets/images/img5.jpg');
  height: 100vh;
  width: 100%;
  background-position: top;
  background-size: cover;
}
.home-award-bg{
  background: url('./Assets/images/awards_bg.jpg');
  background-size: cover;
  background-position: center;
}
.images_shadow:hover{
  box-shadow: 2px 5px 15px rgba(0,0,0,0.45);
}

.bg-about-img{
  background: url('./Assets/images/About_05_1920_636.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.bg-contact-img{
  background: url('./Assets/images/Contact_us_03_1920_x_636.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.hr{
  background: #1ba364 !important;
  color:  #1ba364 !important;
  outline: none;
  border: none;
  padding: 1px;
}

.team-guides_bg{
  background: url('./Assets/images/map-bg.jpg');
  background-position: center;
  background-size: cover;

}



@media only screen and (max-width:768px){
  nav{
    margin: 0;
  }
  #top_nav{
    display: none !important;
  }
}
